// Colors
$bg-body: #F3F4F5;
$bg-tab: #E3E9EC;
$border-color-tab: #01A9AB;

body {
    min-height: 100vh;
    margin: 0;
    background-color: $bg-body;
    font-family: sans-serif;
}

.tabs-section {
    padding: 50px 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    overflow-x: auto;

    .tab {
        cursor: pointer;
        background-color: $bg-tab;
        padding: 15px 20px;
        border-top: 3px solid transparent;
        margin-right: 2px;
        box-shadow: inset 0px -11px 8px -10px #CCC;
        min-width: 50px;
        text-align: center;

        &.active {
            border-top: 2px solid $border-color-tab;
            background-color: #fff;
            box-shadow: none;
        }
    }
}

.tab-panes {
    .tab-pane {
        display: none;
        padding: 30px;
        background-color: #fff;

        &.active {
            display: block;
        }
    }
}

